{{> formy}}
{{> przyciski}}
<div class="hierarchia">
    {{#each hierarchia}}
    {{!-- <p>{{obecny_folder}}</p> --}}
    <p>{{this}}</p>
    {{/each}}
</div>
<div class="foldery">
    {{#each foldery}}
    <div class="folder">
        <a href="/Filemanager_two?nazwa={{sciezka}}/{{nazwa}}">{{nazwa}}
            <a href="/Usun_folder?nazwa={{nazwa}}" onclick="return confirm('Czy usunac?')">X</a>
    </div>
    {{/each}}
</div>
<hr>
<div class="pliki">
    {{#each pliki}}
    <div class="plik">
        <p>{{nazwa}}</p>
        <a href="/Usun_plik?nazwa={{nazwa}}" onclick="return confirm('Czy usunac?')">X</a>
    </div>
    {{/each}}
</div>
<script src="skryptyjs/dialog.js"></script>