<div id="info">
    {{#if id}}
    <h1>id: {{id}}</h1>
    <h1>name: {{name}}</h1>
    <h1>path: {{path}}</h1>
    <h1>size: {{size}}</h1>
    <h1>type: {{type}}</h1>
    <h1>savedate: {{savedate}}</h1>
    {{/if}}
</div>